{% extends "authenticated-base.html" %}

{% block additional_styles %}

{% endblock %}

{% block subpage_content %}

<table class="table table-striped"">
    <thead>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>

    </thead>
    <tbody>
        {% for user in all_users %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
            </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}